@using System.Linq.Expressions

<div class="mb-3">
    @if (Label != null)
    {
        <label for="@Id" class="form-label">@Label</label>
    }
    
    <InputNumber class="form-control" id="@Id" TValue="int?" Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"/>
</div>




@code {
    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public int? Value { get; set; }
    [Parameter]
    public EventCallback<int?> ValueChanged { get; set; }
    [Parameter]
    public Expression<Func<int?>> ValueExpression { get; set; }
    
}